<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>login</title>
  </head>
  <body>
    <div class="app-wrap">
      <h3>Coolermaster {{ title }}</h3>
      <form id="myForm">
      <input type="text" placeholder="Enter username" name="name">
      <input type="password" "Enter password" name="password">
      <button>Login</button>
      <div style="padding-top: 50px">
        <button style="background-color: blue; color:white" onClick="myFunction()">google</button>
      </div>
      </form>
      <a href="/register">Register</a>
    </div>
  </body>
  <script type="text/javascript">
    function myFunction() {
      window.open(
      'https://simpleapptest.auth.us-east-1.amazoncognito.com/oauth2/authorize?identity_provider=Google&redirect_uri=http://localhost:3000&response_type=CODE&client_id=tll59p88np9bvv6vrtk5d0erb&scope=aws.cognito.signin.user.admin email openid phone profile'
    );
    }
    var form = document.getElementById('myForm');
    form.onsubmit = function(event) {
      var xhr = new XMLHttpRequest();
      var formData = new FormData(form);
      //open the request
      //xhr.open('POST','https://nest-aws-cognito.herokuapp.com/auth/authenticate',true);
      xhr.open('POST','http://localhost:3000/auth/authenticate',true);
      //http://localhost:3000/auth/authenticate
      //https://nest-aws-cognito.herokuapp.com
      xhr.setRequestHeader("Content-Type", "application/json");

      //send the form data
      xhr.send(JSON.stringify(Object.fromEntries(formData)));

      xhr.onreadystatechange = function() {
          if (xhr.readyState == XMLHttpRequest.DONE) {
              form.reset(); //reset form after AJAX success or do something else
          }
      }
      //Fail the onsubmit to avoid page refresh.
      return false; 
    }
  </script>
</html>